<a href="https://colab.research.google.com/github/ibnunisvar/PCML_Files/blob/main/MLFirstClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#this is a comment
print("hello")

hello

In [ ]:
x=5
y=7
print(x)
print(y)
print(x, y)

5
7
5 7

In [ ]:
name = "Habeebi"
age = 27
print (name, "is" , age)

Habeebi is 27

In [ ]:
x = 5
print(x)
x = 7
print(x)
x = "check"
print(x)

5
7
check

In [ ]:
x = 6
x = x+1
print(x, type(x))

7 <class 'int'>

In [ ]:
name = "Mohammed"
age = 26
Height = 5.7
Location = "Dehiwala"
print("I'm",name , "\nand I'm", age, "years old", "\nMy height is", Height)

I'm Mohammed
and I'm 26 years old
My height is 5.7

In [ ]:
#list
friends = ["Hammath", "Rafah", "Nafrees", "Jezeel", "Muzny"]
print("Here is a list of my friends : ", friends )
print(friends[0])
print(friends[-1])

Here is a list of my friends :  ['Hammath', 'Rafah', 'Nafrees', 'Jezeel', 'Muzny']
Hammath
Muzny

In [ ]:
#Slicing
#list[start:end]
print(friends[1:4])
print(friends[:3])
print(friends[:6])

['Rafah', 'Nafrees', 'Jezeel']
['Hammath', 'Rafah', 'Nafrees']
['Hammath', 'Rafah', 'Nafrees', 'Jezeel', 'Muzny']

In [ ]:
#tuple
Coordinates = (10,20)
Person = ("Mohammed", 26, "mnmohammed1998@gmail.com", 768883935)

print(Person)
print("Gmail:",Person[2])

('Mohammed', 26, 'mnmohammed1998@gmail.com', 768883935)
Gmail: mnmohammed1998@gmail.com

In [ ]:
#nested_tuple
details = ("apple", (10,20,30),"banana")
print(details[1][2])

30

In [ ]:
#set
numbers={7,2,5,3,3,5,3,5,7,8}
print(numbers)
fruits={"apple","banana","orange"}
print(fruits)

{2, 3, 5, 7, 8}
{'apple', 'banana', 'orange'}

In [ ]:
if "banana" in fruits:
  print("banana is here")

banana is here

In [ ]:
'''fruits=list(fruits)
print(fruits[1])'''

'fruits=list(fruits)\nprint(fruits[1])'

In [ ]:
#dictonary
student={'name':'mohammed', 'age':26,'location':'dehiwala'}
print(student)
print(student.get("name"))
print(student.values())
print(student.keys())

{'name': 'mohammed', 'age': 26, 'location': 'dehiwala'}
mohammed
dict_values(['mohammed', 26, 'dehiwala'])
dict_keys(['name', 'age', 'location'])

In [ ]:
student["gender"] = "male"
print(student)

{'name': 'mohammed', 'age': 26, 'location': 'dehiwala', 'gender': 'male'}

In [ ]:
del student["gender"]
print(student)

{'name': 'mohammed', 'age': 26, 'location': 'dehiwala'}

In [ ]:
2**3
3-2
4-5

-1

In [ ]:
import datetime
current_time = datetime.datetime.now()
print(current_time)
print(current_time.year)
bd= datetime.datetime(2023,3,7)
print(bd)

2024-08-31 11:54:54.624861
2024
2023-03-07 00:00:00

In [ ]:
birth_year = input("Enter your Year of Birth ")
birth_month = input("Enter your Month of Birth ")
birth_day = input("Enter your Date if Birth ")
birthday = datetime.datetime(int(birth_year),int(birth_month), int(birth_day))

now_age = (datetime.datetime.now() - birthday).days /365
print(now_age)

if age <= 18 :
  print("NOT Eligible")
else:
  print("Eligible")

Enter your Year of Birth 1998
Enter your Month of Birth 3
Enter your Date if Birth 7
26.504109589041096
Eligible

In [ ]:
checkdate = datetime.datetime(1998,3,7)
print(datetime.datetime.now())
age_days = datetime.datetime.now()-checkdate
print(age_days.days/365.25)

2024-08-31 11:55:05.017050
26.48596851471595

In [ ]:
num=1
while num <= 5:
  print(num)
  num += 1

1
2
3
4
5

In [ ]:
#Calculate the sum of numbers from 1 to 10

num1 = 1
temp = 0

while num1 <=10 :
  temp += num1
  print(temp)
  num1 += 1

print ("The Sum is ", temp)

1
3
6
10
15
21
28
36
45
55
The Sum is  55